---
import { Image } from "astro:assets";
const {aboutText, aboutPhotoUrl} = Astro.props;
const photoUrl = `${import.meta.env.STRAPI_URL}${aboutPhotoUrl}`
---

<p>{aboutText}</p>
<Image src={photoUrl} alt="me" width='400' height='400'/>
<!-- image -->